[2019-03-26 17:50] slippycheeze opened #2 "support patch to enable multicolor fonts on macOS"
Emacs upstream disable multicolor font support as there is not, yet, support in the GNU/Linux rendering stack for them, so as not to have a feature on a non-free system that is not available on a free one.

It would be nice, for me, if you were to enable those with the code following, but since this is a potentially sensitive issue I preferred to send an issue than a CL.  Season the following to t

[2019-03-28 09:35] daviderestivo commented on #2
@slippycheeze Thanks for this patch. I have nothing against it and I will merge it over the weekend.

[2019-04-01 06:21] daviderestivo commented on #2
@slippycheeze I have added the support to multicolour fonts. Please make a try and lemme know :)

[2019-04-08 20:22] slippycheeze commented on #2
<3  Thanks!  Sorry for the delay in getting back, but now I'm finally back home from travel I tested it, and it works great.

[2019-04-08 20:22] #2 closed

[2019-04-09 06:11] daviderestivo commented on #2
Perfect ... thanks.

[2019-04-23 17:22] anquegi opened #4 "A doubt with --gnu-tls option"
First of all thanks for this, you literally save my life working with mac ;-)

I cannot see the old gnu-tls option. It is not needed for emacs 27.x  (HEAD).

I need de gnu-tls dependency in order to import some packages from repositories with cask. but it seems to work well after installation

[code]

[2019-04-24 00:02] daviderestivo commented on #4
Ciao @anquegi,

gnutls option was enabled by default. I think it should be configurable using --with-gnutls. I updated the formula to reflect this https://github.com/daviderestivo/homebrew-emacs-head/pull/5.

Regards,
Davide

[2019-04-24 11:01] anquegi commented on #4
Thanks for your quick reply and fix, I will close this issue now

[2019-04-24 11:01] #4 closed

[2019-04-24 11:01] daviderestivo commented on #4
Thanks to you for spotting this issue.

[2019-04-25 22:39] daviderestivo commented on #4
In order to create a bottle for Mojave I had to mangle a bit with the dependencies. From now on GnuTLS is enabled by default. If you want to disable it please use —without-gnutls.

[2019-07-09 20:41] anquegi opened #10 "Cannot upgrade"
I cannot update the formulae, when --head is installed.

[code]

or with this: --HEAD

`Error: invalid option: --HEAD`

[2019-07-10 16:35] daviderestivo commented on #10
I guess you have to use: `brew upgrade emacs-head --fetch-HEAD`

[code]

Please lemme know if it works for you as well.

[2019-07-16 06:22] anquegi commented on #10
This will compile, with the install last options

`brew install emacs-head --HEAD --with-cocoa --with-librsvg --with-imagemagick@7 --with-jansson --with-multicolor-fonts --with-no-frame-refocus --with-mailutils --with-dbus --with-modules`

or I need to add?

[2019-07-16 07:17] anquegi commented on #10
Something strange happen:

[code]

and finally  I get it update but installing again but without the colo font options:

[code]

<img width="1680" alt="Captura de pantalla 2019-07-16 a las 9 16 48" src="https://user-images.githubusercontent.com/2518346/61273724-7aead500-a7aa-11e9-99ce-d1af95188106.png">

[2019-07-17 05:38] daviderestivo commented on #10
The multicolor font support has been re-enabled on GNU Emacs HEAD so you don't need anymore the command line option.

You can install this emcas-head the first time using:

[code]

Once installed you can upgrade it to the latest Emacs HEAD commit using:

[code]

You can run the last command once a week for example.

[2019-07-20 13:59] anquegi commented on #10
Thanks for clarifying

[2019-07-20 13:59] #10 closed

[2019-08-30 08:58] arjology opened #12 "Python 3.7 dependency?"
When I am trying to install this using `brew install --ignore-dependencies emacs-head --HEAD --with-cocoa --with-imagemagick --with-jansson` it complains that python is already installed. unfortunately for me, brew wants to upgrade to the latest 3.7 but i have been working on 3.6 and there are many issues to be worked out still before 3.7 can be considered ready. any way around this ?

[code]

[2019-09-01 07:37] daviderestivo commented on #12
I guess this issue has nothing to do with emacs-head. Did you try to uninstall python 3.6 and re-install it again? Do you need to stick to python 3.6 for some special reason?

[2019-09-22 08:50] daviderestivo opened #15 "Emacs compilation fails on macOS 10.14.6 with Xcode11"
Since the release of Xcode 11, Emacs (HEAD) fails to compile on macOS (10.14.6). It still correctly compiles with the previous version of Xcode (10.3). The error message is:

[code]

I've posted a message in [reddit](https://www.reddit.com/r/emacs/comments/d7eu9i/emacs_compilation_fails_on_macos_10146_with/) to see if someone else have a solution for this issue.

[2019-09-22 08:51] daviderestivo commented on #12
I'm closing this issue since not relevant for this Formula.

[2019-09-22 08:51] #12 closed

[2019-09-23 11:12] daviderestivo commented on #15
Related [bug report](https://debbugs.gnu.org/cgi/bugreport.cgi?bug=36172). No solution so far.

[2019-09-24 22:40] gdonald commented on #15
Same errors here.  Same versions as well: Mac OS v10.14.6 with Xcode11.  `sudo xcode-select -s /Applications/Xcode.app` did not help.

[2019-09-27 15:50] idcrook commented on #15
There might? be a build workaround referenced here:

https://debbugs.gnu.org/cgi/bugreport.cgi?bug=36356#14

[code]

where the `_freea` failure was [patched](https://debbugs.gnu.org/cgi/bugreport.cgi?bug=36356#17):

`Paul's commit 848ff94b45 on master has fixed this for me.`

[2019-09-28 06:39] daviderestivo commented on #15
I'm gonna try to see if I can do this within the formula. Thanks 👍

[2019-09-28 15:05] #15 closed

[2019-09-28 15:06] daviderestivo commented on #15
@idcrook Fixed in 290f291. Thanks a lot.

[2019-10-27 23:14] dylanjm opened #16 "Possible to add xwidgets as option?"
Curious if we could add building with xwidgets as an option for all --HEAD builds. The current [emacs-plus](https://github.com/d12frosted/homebrew-emacs-plus) formula does this but for some reason when I build HEAD emacs from their formula, I don't have `global-fill-column-display` or access to the `:extend` keyword.

Also adding some cool icons would be awesome.

[2019-10-29 07:30] daviderestivo commented on #16
I had a look and the effort to add xwidgets seems to be not much. I can work on this over the weekend. BTW what cool icon are you referring to :)?

[2019-10-29 18:24] dylanjm commented on #16
Awesome, that is much appreciated!

I'm personally fans of these two icons:

![image](https://user-images.githubusercontent.com/15963026/67797096-cb7afb00-fa46-11e9-8437-8be1f2ccc58b.png)

https://github.com/cg433n/emacs-mac-icon

![image](https://user-images.githubusercontent.com/15963026/67797165-f8c7a900-fa46-11e9-919a-0999eda29fbc.png)

https://github.com/sjrmanning/emacs-icon

[2019-10-30 12:57] daviderestivo commented on #16
Very nice icons :) ... I will include them as well 👍

[2019-11-03 09:19] daviderestivo commented on #16
@dylanjm It seems that the Xwidgets patch will take longer than expected ... I keep you posted.

[2019-11-03 19:39] dylanjm commented on #16
No worries, I appreciate you looking into this.

[2019-11-07 11:04] daviderestivo commented on #16
@dylanjm the xwidgets support is in ... please make a test and lemme know :). I will add the new icons soon :)

[2019-11-07 16:03] dylanjm commented on #16
@daviderestivo  thank you for doing this. I reinstalled `emacs-head` this morning and got the following error:

[code]

[2019-11-07 16:04] daviderestivo commented on #16
I'm looking into it :)

[2019-11-07 20:51] daviderestivo commented on #16
Fixed ... sorry for the inconvenient :)

[2019-11-08 01:37] dylanjm commented on #16
No worries at all, thank you for implementing this!

[2019-11-08 15:55] daviderestivo commented on #16
@dylanjm I have added the icons as well. Please lemme know if I can close this issue :).

[2019-11-08 17:18] dylanjm commented on #16
Works perfect! Thanks again. Good to close.

[2019-11-08 17:18] #16 closed

[2019-11-15 05:10] dangom opened #17 "Failure to build HEAD under MacOS High Sierra"
I tried:

[code]

But it failed with:

[code]

[2019-11-15 07:53] daviderestivo commented on #17
@dangom can you please paste the whole output?

[2019-11-15 14:33] dangom commented on #17
Of course. I tried adding the `--with-xwidgets` and `--with-pdumper` option, and it worked correctly.

Without those options, here's the full output:

[code]

[2019-11-16 06:48] daviderestivo commented on #17
The problem in my opinion is related to a broken commit pushed into emacs master branch. Can you try to recompile without Xwidget support and without pdumper. Otherwise if you're ok like this you can close this issue.

[2019-11-16 21:48] dangom commented on #17
I'll close the issue, but in any case I'll probably revert to 26.3 for a while - 27 is just too buggy

[2019-11-16 21:48] #17 closed

[2019-11-17 08:01] daviderestivo commented on #17
I'm working with it every and apart for some broken commit it's quite stable.

[2019-12-24 02:21] dylanjm opened #18 "Updated ImageMagick and now Emacs doesn't rebuild"
Something odd happened where I kept getting segfaults every time I opened emacs even when using `emacs -Q`. I decided to `brew uninstall emacs-head` and then

[code]

Then I kept getting these errors when installing:

[code]

I then tried removing the `--with-imagemagick` flag and it built fine.

[2019-12-27 04:02] seagle0128 opened #19 "Compare to emacs-plus"
Hi,

I'd like to know the differences between `emacs-head` and `emacs-plus`. I think many people are confused. Thanks!

[2019-12-27 09:39] daviderestivo commented on #19
Hi @seagle0128,

The two formulas are very similar. I decided to create my own Formula some time ago because I needed some customization not present at that time on emacs-plus and because I didn’t want to depend on someone else formula. Then I decided to publish it on github if someone else would have liked to use it.

[2019-12-27 09:41] daviderestivo commented on #19
I reopen the issue since I closed it by mistake 😀

[2019-12-27 09:42] daviderestivo commented on #18
Hi @dylanjm,

I’ll try to have a look in the upcoming days.

Davide

[2019-12-27 10:25] seagle0128 commented on #19
Thanks for the quick reply, and appreciate for your great work! I am enjoy `emacs-head` now.

[2019-12-27 10:25] #19 closed

[2019-12-27 10:52] daviderestivo commented on #19
@seagle0128 Thanks for using emacs-head 😀

[2019-12-28 08:11] seagle0128 commented on #18
`imagemagick` is not necessary for handling images in 27+.

https://github.com/emacs-mirror/emacs/blob/2902fb035af000d3c15c5c595933883ccc808580/etc/NEWS.27#L3284

[2019-12-30 16:09] daviderestivo commented on #18
I found this thread https://lists.gnu.org/archive/html/emacs-devel/2019-12/msg00643.html and it seems that a fix is already in HEAD. Could you try once again?

[2019-12-30 16:13] daviderestivo commented on #18
Here the commit that should fix this issue: https://github.com/emacs-mirror/emacs/commit/ee12c421b61218a868712f66b0176c451e20717e

[2020-01-04 22:57] daviderestivo commented on #18
I can confirm that the issue has been fixed on HEAD:

[code]

@dylanjm I guess we should be good to close this issue. Please lemme know :).

[2020-01-05 21:38] dylanjm commented on #18
Apologies for the delay. I just tried it again and it looks to be working. Thanks!

[2020-01-05 21:38] #18 closed

[2020-01-06 09:10] daviderestivo commented on #18
@dylanjm Thanks.

[2020-01-08 17:27] slippycheeze opened #20 "provide `--debug` option that compiles with `CFLAGS=-g3` to enable crash debugging"
I've got a crash, which it'd be nice to debug.  In that vein it'd be convenient to have the exact same build as from homebrew, patches included, with debug information.  Simply providing the `-g3` flag in addition to any normal flags while calling configure would be fine, optionally disabling optimization.

Ref: https://github.com/emacs-mirror/emacs/blob/master/etc/DEBUG

[2020-01-08 18:24] daviderestivo commented on #20
@slippycheeze that's a good idea. I'll try to do it in the as soon as I find 30 mins.

[2020-01-09 22:08] daviderestivo commented on #20
I have added a new option `--with-crash-debug`. When enabled it adds:

- `-g3` to `CFLAGS`
- `--disable-silent-rules` to `./configure` arguments

So, if you install emacs-head using the `--verbose` brew option:

`
brew install emacs-head --verbose --with-cocoa --with-imagemagick --with-crash-debug
`

you can have a look to the actual CFLAGS passed to the compiler:

`
clang -c  -Demacs  -I. -I. -I.

[2020-01-17 06:58] daviderestivo commented on #20
@slippycheeze Did you get a chance to try it out?

[2020-01-17 20:02] slippycheeze commented on #20
TYVM.  There is one remaining step required to make this work: installing the (separate) debug symbol data that is generated for the application:

[code]

Sadly, a requirement of the macOS environment.  -_-

[2020-01-17 20:02] #20 closed

[2020-01-17 21:12] daviderestivo commented on #20
[CUT]

Done ... enjoy the weekend :).

[2020-02-18 03:22] baron opened #21 "Emacs Sexy Icon V2 Checksum Mismatch"
[code]

[2020-02-18 06:24] daviderestivo commented on #21
Hi @baron,

thanks for reporting the issue. It has been fixed in 21d5d22e9a85ba9a03ab91d19e3761a40ffa13e4.

Regards,
Davide

[2020-02-18 06:24] #21 closed

[2020-02-18 15:21] hyiltiz opened #22 "Blank buffer after fresh build from head"
Built with `brew install emacs-head --HEAD --with-cocoa --with-imagemagick  --with-jansson --with-mailutils  --with-xwidgets --with-modern-icon-papirus`, and started with `/usr/local/opt/emacs-head/Emacs.app/Contents/MacOS/Emacs --no-init-file`. Emacs shows a completely blank/white buffer and no cursor either. Clicked from macOS menu "Help > Tutorial" to open the tutorial buffer. Still no visible

[2020-02-18 18:37] daviderestivo commented on #22
Hi @hyiltiz,

I recall a similar problem on Mojave https://lists.gnu.org/archive/html/bug-gnu-emacs/2018-11/msg00224.htm). I don't have a macOS Sierra to try out but I can suggest you to check if Emacs 26 is working and report a bug to the Emacs developer team. The problem might be related to the recent changes done to [nsterm.m](https://github.com/emacs-mirror/emacs/commits/master/src/nsterm.m).

[2020-02-19 00:44] hyiltiz commented on #22
Both Emacs 26 (release) and 27 (both release and build from source on tagged branch) works. Do you mean to check out that commit then build to see if it fixes/breaks what was working before?

p.s. I am ashamed to report an issue about macOS in Savannah...

[2020-02-19 01:09] #22 closed

[2020-02-21 08:14] baron commented on #21
thanks so much for the fast work!

[2020-02-23 17:02] seagle0128 opened #23 "native-comp branch support"
The native compiling is a amazing feature to improve the Emacs performance. I'd like get an option to build this branch. Thanks!

https://github.com/emacs-mirror/emacs/tree/feature/native-comp

[2020-02-24 12:41] daviderestivo commented on #23
@seagle0128 I will have a look ...

[2020-02-24 14:21] seagle0128 commented on #23
Thank you. But I got the bad news here: https://lists.gnu.org/archive/html/emacs-devel/2019-08/msg00039.html. FYI.

[2020-02-25 09:27] daviderestivo commented on #23
I have gone through the mail thread you mentioned and I think the support on macOS is not possible until [this](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=90709) is solved.

[2020-02-25 10:25] seagle0128 commented on #23
Agree. I am looking forward to this feature, but have to wait until it's solved.
It's up to you whether closing or keeping it open.

[2020-02-26 08:48] daviderestivo commented on #23
We can leave it open ... :)

[2020-02-27 10:27] taigacute opened #24 "add posframe border support"
emacs mac port can show posframe border. Is it possible to add support

[2020-02-27 10:51] seagle0128 commented on #23
A new post here: https://gist.github.com/mikroskeem/0a5c909c1880408adf732ceba6d3f9ab
It seem working now.

[2020-02-28 13:08] daviderestivo commented on #23
Hi @seagle0128,

I went through the gist you linked above and I think at the time being it does not make sense to invest time in trying to add native-comp support on macOS simply because you can't run it anymore as native cocoa application but as Xwindow one.

From:  https://gist.github.com/mikroskeem/0a5c909c1880408adf732ceba6d3f9ab

What do you think?

Regards,
Davide

[2020-02-28 14:16] seagle0128 commented on #23
Okay. Let's do it in future. I am fine with closing it.

[2020-02-28 15:17] daviderestivo commented on #24
Hi @taigacute,

I've tested it and I can confirm that the frame border of posframe is not show:

[code]

![Screenshot 2020-02-28 at 15 58 50](https://user-images.githubusercontent.com/16867449/75559328-8c37d780-5a43-11ea-871a-3d39a99e2e63.png)

However I do not think I would be able to analyse the emacs-mac code and apply those changes to the official emacs. Sorry, but I'm not an expert of cocoa b

[2020-02-28 15:56] taigacute commented on #24
@daviderestivo  Agree, I will review the related implementation, and I will report if there is progress

[2020-02-28 16:41] daviderestivo commented on #24
Then I leave this open until you come back to me.

[2020-02-29 06:09] taigacute commented on #24
Thanks  should be close,when have progress i will reopen .

[2020-02-29 12:59] daviderestivo commented on #24
@taigacute ok. Then I close it ...

[2020-02-29 12:59] #24 closed

[2020-04-18 17:34] d12frosted commented on #19
Hey,

It's nice to see that there are more options to install Emacs on macOS. I've looked at the formula and can provide some comparison.

# `emacs-head`

`emacs-head` is basically `emacs` formula with few additional stuff (listing only stuff missing in `emacs-plus`):

- new icons

Some additional comments:

- `emacs-head` provides bottles for more macOS versions than `emacs-plus`.
- Overall it se

[2020-04-18 17:38] d12frosted commented on #19
Just to keep previous comment clean and focused on comparison, I've broken it into two.

It's pity to hear. Can you please let me know, what exactly is or was missing? You know, I am always glad to add new features, when they are needed.

Oh, I understand this point very much 😸

---

Overall, it seems like we are duplicating our efforts. Maybe we can think on how we can combine them?

[2020-04-18 18:46] daviderestivo commented on #19
Ciao @d12frosted,

First ... thanks a lot for having found the time to reply to this post 👍.

When I started my own formula, I mostly did it for fun and for not being dependent on someone else for issues and so on.  I'm always keeping an eye on `emacs-plus` to see if you have interesting idea I can use for myself. Actually I don' even recall what I needed that at that time was not present in `emac

[2020-04-19 05:59] d12frosted commented on #19
👋 Ciao @daviderestivo

My pleasure. I just thought that it might be useful to share it in this topic.

Haha, that's a good driver 😸

Sure, let's do it. I will contact you via (committer) email.

[2020-05-05 00:55] abbaswasim opened #25 "Add sRGB support"
Looking at [sRGB](https://emacsredux.com/blog/2013/08/21/color-themes-redux/) build of emacs. I was looking through your formula but couldn't find anything to do with `--srgb`. Is this still possible with emacs 27 and if it will be possible to add this to the formula?

Edit: I tried to hack the `--srgb` option into the formula when using. But I am getting `configure: error: unrecognized option: --

[2020-05-05 14:18] abbaswasim commented on #25
I did look into this a bit further. Looking through `emacs-mirror` on GitHub I couldn't find references to `--srgb` anymore in configure scripts. However I didn't go back to check if there were any before either.

I did find `ns_use_srgb_colorspace` [here](https://github.com/emacs-mirror/emacs/blob/d77d01d22902acdc45c2c7059de4f1b158ab5806/src/nsterm.m#L9468) which by default is on for MacOs builds

[2020-05-06 06:45] daviderestivo commented on #25
Lemme have a look ...

[2020-05-06 11:11] daviderestivo commented on #25
Hi @abbaswasim,

I did a bit of research and it seems that surge support was introduced somewhere with emacs 24.

Now this is by default this is turned on both on emacs HEAD and it seems the same on Emacs 27.

Can you please tell me the installation option you have used to install emacs-head?

In addition can you please tell me the value of this variable `ns-use-srgb-colorspace` on your system?

[2020-05-06 11:18] abbaswasim commented on #25
I installed it with this command:

`brew install emacs-head --verbose --HEAD --with-cocoa --with-imagemagick --with-jansson`

That installs:
[code]
Its `describe-var` at `ns-use-srgb-colorspace` gives:
[code]

And here is the value for `ns-use-srgb-colorspace` for reference in the other emacs 26 that I have downloaded from emacs Mac port (might be relevant)

[code]

[2020-05-06 11:21] abbaswasim commented on #25
Having looked at this again I was sure I tried setting this to true like `(setq ns-use-srgb-colorspace t)` in my init files. But that doesn't seem to take effect.

[2020-05-06 11:25] daviderestivo commented on #25
@abbaswasim sorry for asking maybe something obvious :):

- On emacs-head 28.0.50 is the color rendering fine?
- You can install emacs-head 26.3 simply using: `brew install emacs-head`. This will install emacs 26.3. Can you check if the color rendering is ok or broken?
- I assume you're using macOS newer than 10.7 :)

[2020-05-06 11:34] abbaswasim commented on #25
@daviderestivo no problem happy to provide any info you need to debug this.

No. The screenshots I provided you can see the emacs version as well as color. Its brighter than the emacs from Mac-port (26.3) on the right with darker colors.

<img width="1369" alt="Screenshot 2020-05-06 at 12 30 55" src="https://user-images.githubusercontent.com/5260991/81172068-72f85d80-8f95-11ea-8fb3-8a3d0b7d06ff.pn

[2020-05-06 11:35] abbaswasim commented on #25
I have realised this comparison might not be right. The `emacs-head` version is using `NS appkit` while the `macport` one is `Carbon`. The color difference might be coming from there.. But either way if you see in the screenshots for `emacs-head` even the power line characters has the same issue.

[2020-05-06 11:58] abbaswasim commented on #25
bingo 😄

If I set the `ns-use-srgb-colorspace` with `customise-variable`. Its originally `non-nil` or `on` which is correct behaviour but it doesn't work. I had to turn it `nil` and then again `non-nil` to make it work.

`(setq ns-use-srgb-colorspace t)` in the init files has no effect which is strange or I might be doing something silly.

The bellow config works. Producing correct colors.

[code]

[2020-05-06 21:41] abbaswasim commented on #25
@daviderestivo I think there is another bad news 😢 I think homebrew has just broken formula specific cli options. On master right now you can't pass any of the arguments to `brew install emacs-head` apart from `--HEAD` only. `--with-cocoa` or `--with-imagemagick` etc are all flagged as `brew` command options and it complains saying unrecognised option or something like that.

[2020-05-07 05:57] daviderestivo commented on #25
I think the right command is:

`brew install --debug emacs-head  --HEAD --with-cocoa --with-imagemagick --with-jansson`

`--debug` is a brew option itself not a `./configure` option. You cannot pass  arbitrary `'--' `options not specified in the formula. If you want to see the different phases of the installation (`./configure; make; make install`) you can use:

`brew install --verbose --debug ema

[2020-05-07 09:09] abbaswasim commented on #25
I know. Have a look at the bug I reported at `brew` its not about the `--debug` picked wrongly. Brew is actually promoting _any_ arguments after `--HEAD` to itself rather passing it on to the `formula`. At the moment putting `--debug` _anywhere_ doesn't matter. Brew will pick it up. Either way that's not the issue. The issue is you can't pass any arguments to any formula anymore not specific to yo

[2020-05-07 09:28] daviderestivo commented on #25
Ok .. I got it now.

It's enabled by default in my setup without any explicit config in `init.el`. So If you agree I would close this issue :). Thanks for the interesting info you brought in this issue.

[2020-05-07 09:30] abbaswasim commented on #25
Ah interesting. It would be worth investigating why. But I guess less urgent. Thanks for your support.

[2020-05-07 09:30] #25 closed

[2020-05-09 17:33] benwbooth opened #26 "Head doesn't compile on macOS Catalina"
[code]

[2020-05-09 20:22] daviderestivo commented on #26
Hi @benwbooth,

I think the problem is that the official emacs HEAD is currently broken. I suggest you either to temporary install emacs 26.3 using

`brew install emacs-head --with-cocoa --with-imagemagick --with-jansson`

or wait until emacs HEAD is fixed.

Regards,
Davide

[2020-05-09 20:43] benwbooth commented on #26
Got it, thanks!

[2020-05-09 20:43] #26 closed

[2020-05-10 07:02] daviderestivo commented on #26
I have checked and it seems it compiles once again on my box:

[code]

[2020-05-26 19:25] DivineDominion opened #28 "`brew reinstall` cannot find Patch 6"
When I `brew reinstall emacs-head`, this file cannot be found: `24ef63a1d5047e46f75610180361f7169f4679220bd8784d5c1bb4c5284eb4c1--0006-System-appearance.patch`, relating to this file: https://github.com/daviderestivo/homebrew-emacs-head/blob/8ae40fdcba17d20db6e709726e082b80bad6836f/patches/0006-System-appearance.patch

I also tried with `brew cleanup` in between.

`brew uninstall emacs-head` and `

[2020-05-28 12:18] daviderestivo commented on #28
Hi @DivineDominion,

I will have a look ... thanks :)

Regards,
Davide

[2020-05-30 06:57] daviderestivo commented on #28
I'm sure that the `reinstall` option together with `--HEAD` was working before. I guess some commit on [homebrew-core](https://github.com/Homebrew/homebrew-core) broke this behaviour. @d12frosted, the maintainer of emacs-plus, has done a [deep analysis](https://github.com/d12frosted/homebrew-emacs-plus/issues/218) on how brew behave on the installation and re-installation of a Formula.

I went thr

[2020-05-30 08:33] DivineDominion commented on #28
Thanks for your efforts! IIRC it also didn't work without `--HEAD`, and I tried with that flag later to see if it would properly fetch the latest version, hoping that the missing patch bug was fixed there.

[2020-05-30 08:57] daviderestivo commented on #28
@DivineDominion I have fixed this issue in https://github.com/daviderestivo/homebrew-emacs-head/commit/f03b7c912987aaeb047dd087682e56cd08022ed5. Pl

[2020-06-02 06:51] daviderestivo commented on #28
@DivineDominion did you get a chance to test it on your machine?

[2020-06-02 17:10] dangom opened #29 "Possible to support 27 branch?"
I would like to install Emacs 27 with a --devel flag, but not Emacs 28 with --head. How much work would it be to add such a flag? I guess the same config parameters that --head accepts should work with --devel.

[2020-06-03 19:13] daviderestivo commented on #29
Hi @dangom,

thanks for your interest in emacs-head. I can have a look in what it means to support emacs 27. The main complication I see at the moment is porting all of the current patches from Emacs HEAD to Emacs 27 branch. I will keep you posted.

Regards,
Davide

[2020-06-06 05:02] daviderestivo commented on #28
@DivineDominion I'm going to close this issue. Please re-open if needed.

[2020-06-06 05:02] #28 closed

[2020-06-06 05:23] DivineDominion commented on #28
Sorry, didn't have a chance during the week, but I tried this Saturday, and it went through just fine 👍 (Luckily I botched up the order for my new computer, so the environment is the same :) Thanks for the fix!

[2020-06-06 18:00] daviderestivo commented on #29
Hi @dangom,

a quick update. I decided to add support to Emacs 27 as well. The main point is that this would require to restructure this formula and split it into three different ones:

[code]

The main reasons for this splitting are:
- `devel` is deprecated in homebrew and might be removed soon
-  `if ... else ...end` checking might became very nasty

Said that, I hope to have something usable in

[2020-06-06 18:54] dangom commented on #29
Thanks for taking your time to support the feature request!
I imagine this will be useful to all Emacsen who want to use 27 because of the multitude of performance improvements, but still keep compatibility with most MELPA packages out there.

[2020-06-13 09:15] daviderestivo commented on #29
[Build](https://travis-ci.com/github/daviderestivo/homebrew-emacs-head/builds/171195415) is successful :).

Merged  [PR30](https://github.com/daviderestivo/homebrew-emacs-head/pull/30) into master.

Have fun :)

[2020-06-13 09:15] #29 closed

[2020-06-17 18:21] dylanjm opened #36 "New emacs-28 formula causes security software to flag stack pivots from Ruby."
This might not be fixable, but my work computer runs CYLANCE Protect and now reports a ruby coroutine as a "Stack Pivot vulnerability" during the build process and halts the build process. I was able to successfully build using the `emacs@27 --HEAD` formula.

It's pretty well know that CYLANCE will randomly do this on all sorts of safe software installs, so I'm not sure if it's something that can

[2020-06-19 11:04] daviderestivo commented on #36
Hi @dylanjm,

thanks for reporting this ... as you said I'm note sure there's something I can do here I dunno to much about CYLANCE ... but it's nice that you have reported this issue so maybe someone else will be able to provide some hints.

Regards,
Davide

[2020-08-11 23:19] dylanjm commented on #36
Hi @daviderestivo, not quite sure what happened, but I am able to build emacs-head@28 now. I'll close this issue. Thanks!

[2020-08-11 23:19] #36 closed

[2020-08-12 00:25] wd opened #41 "Bump version to 27.1?"
Emacs 27.1 released yesterday, so we bump eamcs-head@27 to 27.1 ?

[2020-08-12 04:20] daviderestivo commented on #41
@wd working on it ...

[2020-08-12 06:09] daviderestivo commented on #36
Ok thanks for the info ...

[2020-08-14 07:29] daviderestivo commented on #41
Fix in https://github.com/daviderestivo/homebrew-emacs-head/pull/42

[2020-08-14 07:29] #41 closed

[2020-08-18 11:28] daviderestivo opened #46 "Emacs 28 fails to build on High Sierra (macOS 10.13 - xcode10.1)"
Emacs 28 fails to build on High Sierra with the following options:

[code]

[code]

[2020-08-18 11:28] daviderestivo commented on #46
Link to failed build: https://travis-ci.com/github/daviderestivo/homebrew-emacs-head/jobs/372608364

[2020-08-20 11:57] daviderestivo commented on #46
Fixed in https://github.com/emacs-mirror/emacs/commit/b4f05274c7a8facbf2a817ec14d234605959c4de

[2020-08-20 11:57] #46 closed

[2020-08-22 12:42] jmckitrick opened #47 "emacs-head@28 does not build on Catalina"
Last 15 lines from /Users/jmckitrick/Library/Logs/Homebrew/emacs-head@28/03.make:
  CC       nsselect.o
  CC       nsimage.o
  CC       macfont.o
  CC       nsxwidget.o
  CC       terminfo.o
  CC       lastfile.o
  CCLD     temacs
Undefined symbols for architecture x86_64:
  "_release_select_lock", referenced from:
      _really_call_select in thread.o
ld: symbol(s) not found for architecture x86_

[2020-08-23 13:59] #47 closed, assigned to daviderestivo

[2020-08-28 10:48] x61 opened #48 "Error installing emacs 27 & 28 on Catalina"
I installed emacs 28 successfully and was able to run it. This morning when I tried to open email, I got an error message so I tried to reinstall but now getting the following message:
[code]

[2020-08-28 13:07] daviderestivo commented on #48
Hi @x61,

this means a commit in the upstream GNU/Emacs repo broke the installation. There is not too much I can do here. I would suggest to wait and use the GNU/Emacs 27 bottle available in the formula:

[code]

[2020-08-28 23:02] x61 commented on #48
Thank you.

[2020-08-28 23:02] #48 closed

[2020-08-28 23:03] x61 commented on #48
Thanks

[2020-09-11 14:29] twlz0ne commented on #23
It seems the Apple Cocoa support is available now.

- https://gist.github.com/AllenDang/f019593e65572a8e0aefc96058a2d23e
- https://github.com/jimeh/build-emacs-for-macos

[2020-09-12 06:04] daviderestivo commented on #23
Hi @seagle0128, @twlz0ne,

I re-open this issue since maybe it's now time to work on it considering this: https://github.com/jimeh/build-emacs-for-macos

Regards,
Davide

[2020-09-14 07:02] daviderestivo commented on #23
An update here. I was able to compile GNU/Emacs with native-comp support but unfortunately when starting it I get the following error:

[code]

[2020-09-14 14:21] twlz0ne commented on #23
Need a symlink:

- http://akrl.sdf.org/gccemacs.html#org4b11ea1
- https://gist.github.com/AllenDang/f019593e65572a8e0aefc96058a2d23e#gistcomment-3414423
- http://xenodium.com/trying-out-gccemacs-on-macos/index.html

[2020-09-15 04:49] daviderestivo commented on #23
I have created both links:

[code]

[2020-09-15 05:52] twlz0ne commented on #23
CC @AndreaCorallo, do you have any ideas?

[2020-09-15 07:16] AndreaCorallo commented on #23
I can't debug on macos but from the error I suspect the eln is found but is probably empty or corrupted.

Hopefully 5b41545f1b should help diagnosing the issue.

[2020-09-15 08:38] twlz0ne commented on #23
@daviderestivo I build native-comp using Nix: https://github.com/twlz0ne/nix-gccemacs-sierra

A link in `$EMACS-PREFIX/bin/` works for me:

[code]

[2020-09-15 11:47] twlz0ne commented on #23
@AndreaCorallo It seems Emacs always looking for `../native-lisp`, that can explain why the link in `Emacs.app/Contents/` works for GUI user.

For CLI user, a additional wrapper is required:

[code]

[2020-09-15 12:26] AndreaCorallo commented on #23
I should be https://debbugs.gnu.org/cgi/bugreport.cgi?bug=43137

[2020-09-16 07:09] daviderestivo commented on #23
Ciao Andrea,

I have re-installed from 5b41545f1b, the error message is the same:

[code]

The size of the file seems to be not 0

[code]

and the file type is correctly recognized:

[code]

[2020-09-16 07:12] daviderestivo commented on #23
The details of `./configure`

[code]

[2020-09-16 08:56] AndreaCorallo commented on #23
Ciao @daviderestivo :)

Could you run something like `objdump --syms .../eldoc-47e1f0.....eln | grep eldoc` and past the output?

[2020-09-16 10:54] daviderestivo commented on #23
Ciao @AndreaCorallo,

here to you:

[code]

[2020-09-16 11:33] AndreaCorallo commented on #23
Well this is quite strange, the function is there and the eln looks okay.
dlopen apparently successfully load the library but dlsym seams to fail to resolve the symbol... that's strange.

I would be interested to know if you are the only one affected.

[2020-09-16 12:55] daviderestivo commented on #23
I google around but I didn't find any other reference to this issue ...

[2020-09-16 13:06] AndreaCorallo commented on #23
I suspect either `dlopen` is opening a different file respect to the one we are looking at or something is going wrong underneath it.  Hard to say from here :/

[2020-09-17 18:35] daviderestivo commented on #23
@AndreaCorallo ... I hope this shade a bit of light:

[code]

[2020-09-19 07:07] AndreaCorallo commented on #23
One curious thing that is different from a linux box is that each eln is opened, then we have 4 mmap  and 4 munmap I have no explanation for (why should the eln be unmapped?).  Would be interesting to compare against another macos trace.

[2020-09-19 07:09] daviderestivo commented on #23
@twlz0ne would you be able to provide a dtrace from your box. On both of my boxes I have the same behaviour.

[2020-09-19 16:27] twlz0ne commented on #23
[code]

[dtruss_head-1000.output](https://pastebin.com/raw/ca8gV1VD)

[2020-09-19 16:31] daviderestivo commented on #23
Then  I guess the issue might be related to macOS Catalina.

[2020-09-19 22:08] twlz0ne commented on #23
I haven't used macOS 10.15, but I think it should be able to run Emacs.

https://emacs-china.org/t/nix-mac-emacs-nativecomp/14509/3

![74B666C5-DF50-4D11-86CF-EA89F70DC7FB](https://user-images.githubusercontent.com/2653486/93690146-88ff5880-fb07-11ea-8531-d66d36767034.png)

[2020-09-20 15:59] daviderestivo commented on #23
Which version of gcc did you use to compile?

[2020-09-21 03:17] twlz0ne commented on #23
I didn't notice the gcc version, all the compilation tasks are executed on Github/Travis CI. You can check out the repo (_don't be misled by the name_) I mentioned at https://github.com/daviderestivo/homebrew-emacs-head/issues/23#issuecomment-692561799, the CI build log might provide some details.

[2020-10-18 06:23] daviderestivo commented on #23
**Update**: I'm still stuck with the same issue. I didn't find a solution yet

[code]

[2020-11-02 03:24] wd opened #57 "Update 0005-System-appearance.patch to the newest version?"
I'm not sure if the patch comes from [here](https://github.com/d12frosted/homebrew-emacs-plus/blob/master/patches/emacs-28/system-appearance.patch) , but seems there is an important fix for `posframe` users [this PR](https://github.com/d12frosted/homebrew-emacs-plus/pull/242), and [this issue](https://github.com/d12frosted/homebrew-emacs-plus/issues/240), can we sync the patch with that repo?

[2020-11-02 12:54] daviderestivo commented on #57
Hi @wd

Thanks for this info. I will have a look as soon as possible.

Regards,
Davide

[2020-11-03 09:16] daviderestivo commented on #57
Fixed in  pull request #58.

[2020-11-03 09:16] #57 closed

[2020-11-03 09:43] daviderestivo commented on #57
... and pull request #60. Sorry I forgot to update the resource shasum.

[2020-11-10 06:23] daviderestivo opened #64 "Move builds from Travis CI to GitHub Actions"
Since this [announcement](https://dev.to/yoursunny/travis-ci-pricing-change-usage-based-billing-5gba) I have decided to move out from Travis CI. currently I'm evaluating GitHub Actions. A the moment no daily/PR builds are available. Sorry for the inconvenience.

[2020-11-14 10:04] daviderestivo commented on #64
Working on it ...

[2020-11-14 16:36] #64 closed

[2020-11-23 15:27] daviderestivo commented on #23
@seagle0128 I have pushed something that at least compiles and install properly. It still does not work on Catalina. May I ask you to make a try on your box with the following commands:

[code]

and lemme me know if it runs for you?

[2020-11-23 17:06] seagle0128 commented on #23
@daviderestivo I've already upgraded to Big Sur 😂️

[2020-11-23 18:05] mpereira commented on #23
@daviderestivo I just tried out your steps and this is what I see when trying to run Emacs:

[code]
I'm on macOS Catalina 10.15.5.

[2020-11-23 18:19] mpereira commented on #23
The function `F656c646f632d646f63756d656e746174696f6e2d64656661756c74_eldoc_documentation_default_0` seems to be present in the dynamic library:
[code]

Here is the full list of symbols in that dynamic library:
[code]

[2020-11-24 09:21] daviderestivo commented on #23
Yes ... I have exactly the same issue. @AndreaCorallo Any chance we could look at this problem together ?

[2020-11-24 09:22] daviderestivo commented on #23
Bad luck :)

[2020-11-25 05:02] seagle0128 commented on #23
@daviderestivo some updates from my side. I build as https://github.com/jimeh/build-emacs-for-macos on both Catalina and Big Sur, the binaries work well.

[2020-11-25 06:07] daviderestivo commented on #23
Did you try to use my formula on Big Sur?

[2020-11-25 09:29] seagle0128 commented on #23
@daviderestivo Not yet. Will try while I am not busy.

[2020-11-25 10:25] wd commented on #23
I compiled one on my Mac, it takes a really long compile time `🍺  /usr/local/Cellar/emacs-head@28/28.0.50_1: 10,092 files, 535.6MB, built in 65 minutes 4 seconds`

And got the same error as your guys ...

[2020-11-30 08:16] mpereira commented on #23
Did anyone try this procedure yet? https://gist.github.com/kaz-yos/379e5f0f56ef703dfe2707f3b6fed4da

[2020-12-02 13:37] daviderestivo commented on #23
I have successfully manually compiled emacs with native-comp support. The problem I'm facing now is that it seems that brew does some changes to the dyld files. I'm checking at the moment if there's a way to overcome this ...

[2020-12-02 14:43] seagle0128 commented on #23
I tried building on Big Sur today, but got this error:

[code]

[2020-12-02 16:16] daviderestivo commented on #23
Please do export `HOMEBREW_GITHUB_REF`. Below the updated command sequence:

[code]

P.S.: please keep in mind that the post install script will fail. Please ignore it.

[2020-12-02 18:04] seagle0128 commented on #23
@daviderestivo Here is the error on Big Sur.

[code]

[2020-12-05 06:07] daviderestivo commented on #23
The problem seems to be related to the fact that brew changes the dylib ID after install (https://github.com/d12frosted/homebrew-emacs-plus/pull/188)... I still have no solution for this.

[2020-12-05 22:01] daviderestivo commented on #23
This is what probably create the issue. After the install phase homebrew changes the dylib id of `/private/tmp/libgccjit-3AyZly/fake.so` to `/usr/local/opt/emacs-head@28/Emacs.app/Contents/native-lisp/28.0.50-x86_64-apple-darwin19.6.0-280c4c724fff373c5b7192112ad4147c/fake.so` but this file does not exists.

[code]

The dylib ID change happen for every .eln shared library.

[code]

[2020-12-05 22:31] daviderestivo commented on #23
Looking at the output of `otool` on the .eln object of Emacs compiled using

[code]

it seems that the fake.so object is not needed.

[2020-12-05 22:32] daviderestivo commented on #23
I googled around and I didn't find any way to avoid hombrew to change the dylib IDs. Here a reference: https://discourse.brew.sh/t/how-to-prevent-dylib-from-linkage-fixing/3843

[2020-12-12 17:13] daviderestivo commented on #23
I have opened an issue on hombrew-core: https://github.com/Homebrew/homebrew-core/issues/66810

[2020-12-12 17:14] mpereira commented on #23
Thanks for moving this forward @daviderestivo!

[2020-12-13 21:06] jmckitrick opened #75 "Not all icons work for 28"
I’ve been trying different icons, and I’ve noticed some do not work. The most recent is modern-icon-orange. Oddly enough, the file ends up in the version 27 build folders, but not in 28, and I end up with the same icon I built with before.

Aside from this issue, is there an easier way to swap icons rather than a complete brew uninstall and install with the new icon? It takes 10 minutes to build a

[2020-12-14 07:18] tigger04 opened #76 ""Can't find file to patch""
Getting this strange one trying to install:

[code]

full log:

[code]

[2020-12-15 09:28] #75 closed

[2020-12-15 09:33] daviderestivo commented on #75
Hi @jmckitrick,

thanks for reporting this issue. I have fixed it in https://github.com/daviderestivo/homebrew-emacs-head/pull/77. I didn't find a way to change the icons after Emacs is installed. Replacing `Emacs.icns` it in `/Applications/Emacs.app/Contents/Resources/` does not seems to work.

Regards,
Davide

[2020-12-15 10:33] daviderestivo commented on #76
I think this patch is not for HEAD ... try to install without `--HEAD`.

[2020-12-15 10:47] tigger04 commented on #76
thanks!

[2020-12-15 11:18] daviderestivo commented on #23
There is an interesting update on this issue: https://github.com/Homebrew/brew/issues/9526#issuecomment-744729298

[2020-12-15 12:13] daviderestivo commented on #76
I'm reopening because anyway I have to fix this ...

[2020-12-17 08:01] daviderestivo commented on #76
Fixed in here: https://github.com/daviderestivo/homebrew-emacs-head/pull/78

[2020-12-17 08:01] #76 closed

[2020-12-21 06:56] daviderestivo commented on #23
A PR request have been created out of the opened issue: https://github.com/Homebrew/brew/pull/10075. I hope it will be merged soon :)

[2020-12-22 13:03] daviderestivo commented on #23
I guess I have found a solution for the dylibs IDs change done by homebrew. Please look at: https://github.com/daviderestivo/homebrew-emacs-head/actions/runs/437920986

I have a PR ready to be merged into master once all of the checks have been done successfully. I hope to merge it tomorrow morning.

[2020-12-23 06:59] daviderestivo commented on #23
Merged :)

[2020-12-23 06:59] #23 closed

[2020-12-23 12:10] wd opened #81 "native-compile-setup-environment-variables function report error with native comp build"
[code]

I have checked, there is no `/usr/local/Cellar/emacs-head@28/28.0.50_1/Emacs.app/Contents/MacOS/lib` directory exits.

I see this function was added through this patch: https://github.com/daviderestivo/homebrew-emacs-head/pull/79/files#diff-7559cf19008a5b1f3889d64ea7f078c04ed22f4954a251d921c6dfaa340faee7

Emacs build command: `brew install emacs-head@28 --with-cocoa --with-no-frame-refocus

[2020-12-23 17:33] daviderestivo commented on #81
This problem should be fixed by the patch mentioned here: https://github.com/d12frosted/homebrew-emacs-plus/issues/187#issuecomment-750227966

I have just included it in the dev branch. Once all CI checks are done successfully I will merge it into master.

[2020-12-23 23:41] wd commented on #81
Ah I see, I was trying to create a symbol link for the directory but didn't find the right source directory. Now I know how to do that.
[code]

Close this issue

[2020-12-23 23:41] #81 closed

[2021-01-01 15:16] jmckitrick opened #87 "Current build fails"
I tried I build this morning, and got this:

[code]
If reporting this issue please do so to (not Homebrew/brew or Homebrew/core):
  daviderestivo/emacs-head

[2021-01-01 16:11] mariusk commented on #87
Yes, same here, also confirmed by at least one person on the emacs-devel list.

[2021-01-01 16:26] daviderestivo commented on #87
Someone broke the balenava build. I guess you might need to wait a bit until this is fixed upstream in the Emacs repo.

[2021-01-01 19:56] mariusk commented on #87
Already fixed it seems.

[2021-01-01 20:28] daviderestivo commented on #87
Then I guess we can close this issue. @jmckitrick Is this fine with you?

[2021-01-01 20:42] jmckitrick commented on #87
Yep, works for me. I'll try a rebuild and you can assume it's fine unless I
reply otherwise.

--
Jonathon McKitrick

On Fri, Jan 1, 2021 at 3:28 PM Davide Restivo <notifications@github.com>
wrote:

[2021-01-01 21:06] daviderestivo commented on #87
Ok. Then I close the issue. You can re-open it if needed.

[2021-01-01 21:06] #87 closed

[2021-01-04 16:02] pragmat1c1 opened #88 "Signature of function define-obsolete-function-alias changed?"
Today I reinstalled Emacs from your tap, and suddenly I get this error: `Error: Wrong number of arguments: (3 . 4), 2`

Going in to the details (see [1]) I realized that  the signature of the function `define-obsolete-function-alias` has changed in Emacs `28.0.50` from two required arguments to three (adding `when`).

Now many packages stop compiling as they have lines  like this, with 2 arguments

[2021-01-05 07:44] daviderestivo commented on #88
@pragmat1c1 Thanks for reporting this issue.

[2021-01-09 17:01] Arsca opened #89 "Macos M1: Emacs 28 build error: gnus-agent"
Make breaks with the following error:

==> ./configure --enable-locallisppath=/usr/local/share/emacs/site-lisp --infodir=/usr/local/Cellar/emacs-head@28/28.0.50_1/share/info/emacs --prefix
==> make
Last 15 lines from /Users/arsca/Library/Logs/Homebrew/emacs-head@28/03.make:
In toplevel form:
gnus/gnus-agent.el:3511:1: Error: Wrong type argument: listp, file
make[2]: *** [gnus/gnus-agent.elc] Error

[2021-01-11 06:48] ccakes commented on #88
Not a fix as such, but [this Reddit post](https://www.reddit.com/r/emacs/comments/kqd9wi/changes_in_emacshead2828050_break_many_packages/gitmpy2?utm_source=share&utm_medium=web2x&context=3) has a functional workaround

[2021-01-14 06:57] daviderestivo commented on #89
Hi @Arsca, sorry for the late answer but I missed this bug report. The problem is a commit in the upstream emacs repo. It should be fixed by now.

[2021-01-14 06:57] #89 closed

[2021-01-23 15:47] daviderestivo commented on #88
Since most of the package maintainers already have replaced `define-obsolete-function-alias` with the new one. I guess e can close this issue.

[2021-01-23 15:47] #88 closed

[2021-02-16 18:53] jmckitrick opened #92 "Display changes to frame settings"
The latest build of HEAD on version 28 has an odd issue. Now, when I drag the emacs window from my Mac Retina display to my external display, the font is shrunk way down, and only 1/4 of the frame is filled with text.
![Screen Shot 2021-02-16 at 1 52 46 PM](https://user-images.githubusercontent.com/518057/108108170-43b36880-705e-11eb-9e1f-bb9542271ad9.png)

[2021-02-16 18:53] jmckitrick commented on #92
Not sure if this is emacs or Mac related...

[2021-02-16 21:07] jmckitrick commented on #92
https://github.com/emacs-mirror/emacs/commit/0e2b123a4ef600f5b337972a7bb61c1fc4b7d0cd

[2021-02-17 07:06] eugene-sea commented on #92
I do not have such issue, installed Emacs 28 with native-comp on 12th of Feb.

[2021-02-17 07:26] DivineDominion commented on #92
Same here, launching the .app bundle @28 freshly compiled. Don't need to drag away from the Retina MBP screen to make this happen -- it starts on my external monitor with the issue from the get go.

[2021-02-17 07:42] eugene-sea commented on #92
However, initially, I had some display issues when moving from one display to another, e.g. there was text misalignment in which-key UI, but the problem disappeared after Emacs restart.

[2021-02-17 08:56] daviderestivo commented on #92
@jmckitrick I tried but I cannot reproduce it. I'm on macOS Catalina

[2021-02-17 09:16] DivineDominion commented on #92
The commit @jmckitrick linked to originated in this patch: https://lists.gnu.org/archive/html/bug-gnu-emacs/2021-02/msg00656.html

With emacs-head@28 the output of `(display-monitor-attributes-list)` is:

`(((geometry 0 0 3440 1440) (workarea 0 23 3440 1417) (mm-size 801 335) (frames #<frame *GNU Emacs* 0x7f970518d360>) (source . "NS")) ((geometry -1280 640 1280 800) (workarea -1280 640 1280 777)

[2021-02-17 10:42] daviderestivo commented on #92
I can add this patch to Emacs-head@28 if needed. Most probably you need to wait couple of days because this week I'm really underwater ...

[2021-02-17 11:01] jmckitrick commented on #92
I’m happy to give it a shot today. What exactly needs done? It’s a Ruby-based system, so do we need to reverse the commit that caused the issue?

[2021-02-17 16:02] DivineDominion commented on #92
@daviderestivo emacs-head@28 seems to pull the patch in already, since the new `display-monitor-attributes-list` mentioned in the mailing list thread is available since then. (Just a heuristic from my part.) -- Reverting it is the best option I can come up with, but Andrii from the emacs bug thread already replied that he'd be taking a look at this. The fix might hit upstream eventually.

[2021-02-18 07:01] daviderestivo commented on #92
@DivineDominion Thanks for the clarification. If you agree, we can wait for a while to see if this is fixed upstream. In case, I can bring the patch mentioned in [here](https://lists.gnu.org/archive/html/bug-gnu-emacs/2021-02/msg00656.html) into emacs-head@28. Shall we agree on a deadline of 1 week?

[2021-02-18 07:42] DivineDominion commented on #92
A week sounds fine. I thought that the link you provided actually introduces the bug instead of fixing it, though. I guess I'll have to build emacs from source without your homebrew formula to make sure ;)

[2021-02-18 11:44] jmckitrick commented on #92
@daviderestivo Yes, it appears that patch introduces the bug. It seems the author is aware and is looking into it.

[2021-02-18 15:08] jmckitrick commented on #92
I'm happy to help the author test this patch. What's the easiest way to use this home-brew formula to build from a local emacs mirror repo with changes to test?

[2021-02-18 21:29] daviderestivo commented on #92
Yes you're right. I was not clear enough. What I meant is that I can just make a new patch that reverts the patch of the bug#46406. I hope is more clear

[2021-02-18 21:36] daviderestivo commented on #92
If the fix goes directly into emacs-mirror you can just use this formula without additional changes. Otherwise, if the author offers you a patch, the simplest is to clone emacs-mirror apply the patch on top and test it. If the fix works then we include it into emacs-head.

[2021-02-18 21:40] jmckitrick commented on #92
Well, that's the part I'm not clear on. How can I run the homebrew formula
locally and have it use my local emacs repo rather than pulling the mirror?

--
Jonathon McKitrick

On Thu, Feb 18, 2021 at 4:36 PM Davide Restivo <notifications@github.com>
wrote:

[2021-02-19 10:10] muffinmad commented on #92
With the commit [0e2b123a4ef600f5b337972a7bb61c1fc4b7d0cd](http://git.savannah.gnu.org/cgit/emacs.git/commit/?id=0e2b123a4ef600f5b337972a7bb61c1fc4b7d0cd) I have no issue moving frame to the non-retina screen.  The issue appears for me with the commit [68bd6f3ea9c05637501139c46f1f4304482db95f](http://git.savannah.gnu.org/cgit/emacs.git/commit/?id=68bd6f3ea9c05637501139c46f1f4304482db95f).

I suspe

[2021-02-19 10:15] muffinmad commented on #92
@alanthird Can you please take a look at this?

[2021-02-19 21:54] alanthird commented on #92
Should be fixed on Emacs master now.

[2021-02-20 12:22] daviderestivo commented on #92
@jmckitrick @DivineDominion: could you confirm it's working as well for you and if all is fine close this issue?

[2021-02-22 12:56] jmckitrick commented on #92
All good here!

[2021-02-22 21:00] DivineDominion commented on #92
@daviderestivo Can confirm it works! (Sorry it took till Monday to get to the dual monitors to check)

[2021-02-22 21:07] daviderestivo commented on #92
@DivineDominion @jmckitrick thanks both. I'm gonna close this issue.

[2021-02-22 21:08] #92 closed

[2021-02-27 22:18] farynaio opened #93 "emacs-head@28: No such file or directory - native-lisp"
When building with `brew install emacs-head@28 --with-cocoa --with-dbus --with-no-frame-refocus --with-imagemagick --with-pdumper  --with-xwidgets --with-native-comp` I get:

[code]

[2021-02-28 13:58] daviderestivo commented on #93
@farynaio it should be fixed in https://github.com/daviderestivo/homebrew-emacs-head/pull/94. Please try again and lemme me know.

[2021-02-28 15:53] farynaio commented on #93
It's working now, thanks!

[2021-02-28 15:53] #93 closed

[2021-02-28 16:10] daviderestivo opened #96 "Remove bottles support"
Since I think not to many people are using emacs-head bottles and since it is a big effort to maintain them I decided to drop any bottle support with this https://github.com/daviderestivo/homebrew-emacs-head/pull/95.

I will merge https://github.com/daviderestivo/homebrew-emacs-head/pull/95 in the upcoming days. Any comment is welcome.

[2021-03-02 10:00] daviderestivo commented on #96
Merged.

[2021-03-02 10:00] #96 closed

[2021-03-06 20:05] manute opened #98 "error: Installed libgccjit has failed passing the smoke test."
Hi 👋 ,
First of all, many thanks for this repo and all the effort around it, I really appreciate it.

Just found an error reinstalling the formula in the `Macos Big Sur` with this command:
[code]
The error seems related to the dependency `libgccjit` which breaks the installation process:
[code]

Checking the libgccjit info :
[code]

Any ideas?

Thanks

[2021-03-06 21:09] manute commented on #98
I was able to install it only with these extra args:
[code]
Not sure what happened adding the other args , but closing this.

[2021-03-06 21:09] #98 closed

[2021-03-07 06:23] daviderestivo commented on #98
You could simply do:

[code]

[2021-03-07 18:33] manute commented on #98
Yeah but I'd like to install it with all of those extra args if possible

[2021-03-07 18:45] daviderestivo commented on #98
If you use `reinstall` you don’t need to specify the options once again since it will automatically use the same options specified when you installed the formula the first time.

[2021-03-07 18:55] manute commented on #98
ahh good to know , thanks!

[2021-03-11 21:46] abbaswasim opened #99 "Can't install with modern icon"
I am trying to install emacs 28 with `--with-modern-icon-doom-cacodemon` with the following command.

`brew install emacs-head@28 --with-cocoa --with-imagemagick --with-modern-icon-doom-cacodemon`

I see messages like
[code]
Which tells me the icons themselves are downloaded fine. Then I see

[code]

I have tried to look through the formula but I don't know enough to work it out.

[2021-03-11 22:45] otavioschwanck opened #100 "Upgrade formula"
the lsp on m1 chip inst't work.

They already release the fix:
https://git.savannah.gnu.org/cgit/emacs.git/commit/?id=b24c21e82ca0819f06ea5708274ce9091b3bc6d2

[2021-03-12 06:53] daviderestivo commented on #99
I will have a look into it over the weekend.

[2021-03-12 06:55] daviderestivo commented on #100
@otavioschwanck, did you try to install emacs-head or emacs-head@28? I suggest to use emacs-head@28 for the M1 chip.

[2021-03-12 07:05] daviderestivo commented on #99
Fixed. It will land in master in some hours once CI is over.

[2021-03-12 08:23] #99 closed

[2021-03-12 08:24] daviderestivo commented on #99
Fixed ...

[2021-03-12 12:20] otavioschwanck commented on #100
I'm already using emacs-head@28.

[2021-03-13 13:57] daviderestivo commented on #100
@otavioschwanck: emacs-head@28 uses the emacs master branch (HEAD). So I guess you simply need to re-install since the fix you mentioned in the first message is already in. Or am I missing something?

[2021-03-14 04:58] otavioschwanck commented on #100
worked!

@daviderestivo the brew don't upgrade emacs head automatically ? i have to reinstall everytime i want to upgrade?

[2021-03-14 07:18] daviderestivo commented on #100
Yes exactly. Considering the master branch is sometimes broken it's even better that you have to explicitly reinstall :).

[2021-03-14 07:19] daviderestivo commented on #100
If you're fine then please close this issue :)

[2021-03-16 12:43] farynaio opened #104 "Failed to initialize color list unarchiver"
When I start Emacs from the terminal it prints:
[code]

Emacs build with: brew install emacs-head@28 --with-cocoa --with-dbus --with-no-frame-refocus --with-imagemagick --with-pdumper  --with-xwidgets.

Clean Emacs without extra packages.

[2021-03-16 14:55] #100 closed

[2021-03-16 14:55] daviderestivo commented on #100
I closed this issue.

[2021-03-17 06:51] daviderestivo commented on #104
@farynaio I'll do some research ...

[2021-03-21 14:55] daviderestivo commented on #104
Try to delete `Emacs.clr`

[code]

Reference: https://lists.gnu.org/archive/html/emacs-devel/2018-09/msg00993.html

[2021-03-23 11:37] daviderestivo commented on #104
@farynaio did you get a chance to test if the above mentioned suggestion fixes your issue?

[2021-03-25 23:11] farynaio commented on #104
@daviderestivo I tested that but it did no difference. No worries, I don't bother by that just noticed and reported.

[2021-03-27 15:02] daviderestivo commented on #104
@farynaio A new `Emacs.clr` should be created once Emacs starts. Anyway, if the issue is still there l suggest you to report it upstream.

[2021-03-27 15:02] #104 closed

[2021-04-09 00:39] jeongsoolee09 opened #108 "Compilation Fails on M1 Mac"
I am on an M1 MBP. The compiling process had succeeded before, however, the

[2021-04-09 00:48] jeongsoolee09 opened #109 "Compilation Fails on M1 Mac"
I am on an M1 MBP. The compiling process had succeeded before, however, the `make` procedure fails for now (maybe after the formula changed). The build succeeded with the newest formula on my Intel Macs, so this problem is likely to be M1-specific.

The `brew` command is: `brew install emacs-head --HEAD --with-imagemagick --with-cocoa --with-xwidgets`

The console log:

[code]

[2021-04-09 00:50] jeongsoolee09 commented on #108
Oops, created this thread by accident. Sorry!

[2021-04-09 00:50] #108 closed

[2021-04-09 12:55] daviderestivo commented on #109
Hi @jeongsoolee09

can you please try without --HEAD

[code]

[2021-04-09 13:11] jeongsoolee09 commented on #109
Yay, it worked! Thanks a lot.

[2021-04-09 14:25] daviderestivo commented on #109
@jeongsoolee09 currently  M1 Mac is supported only on Emacs 27 stable not HEAD. I close this issue.

[2021-04-09 14:25] #109 closed

[2021-04-10 09:51] Bounga commented on #93
I do have the exact same problem and brew is up to date

[2021-04-10 10:43] daviderestivo commented on #93
Have you tried to untap and tap the formula once again:

[code]

Done that try to install Emacs-head

[2021-04-10 13:32] Bounga commented on #93
It worked! Thanks a lot

[2021-05-23 13:34] Arsca opened #113 "Compilation fails on MacOS 11.3.1 (20E241)"
Hi,

When installing on MacOS 11.3.1 M1 with

`brew install emacs-head --with-imagemagick --with-cocoa --with-xwidgets`

I get the following error:

[code]

[2021-05-30 16:31] daviderestivo commented on #113
Can you please re-run it with `--verbose`?

[2021-06-11 00:50] aconchillo opened #114 "emacs: can't find function "F626f6f6c65616e70_booleanp_0" in compilation unit"
I had https://github.com/d12frosted/homebrew-emacs-plus installed. I reinstalled it to get latest emacs changes but ran into an issue when launching emacs.

I then found out about this project and gave it a try since I saw a similar issue from last year:

https://github.com/daviderestivo/homebrew-emacs-head/issues/23

However, no luck, exactly same issue as with homebrew-emacs-plus (see below).

T

[2021-06-11 01:13] aconchillo commented on #114
Some other versions:

macOS: 11.2.3

[code]

[2021-06-13 05:15] daviderestivo commented on #114
@aconchillo Sorry but I missed your issue.  Can you try to build it adding `--with-cocoa` and lemme know if it works?

[2021-06-14 23:21] aconchillo commented on #114
I tried again today. If I add --with-cocoa` it starts fine, if I don't still the same issue.

In both cases I get this crash when emacs exits:

[code]

[2021-06-15 11:58] daviderestivo commented on #114
@aconchillo the crash issue should be reported upstream to emacs-bugs.

In the meantime I will fix emacs-head formula to fix the .dylib files as mentioned in https://github.com/daviderestivo/homebrew-emacs-head/issues/23 even if `--with-cocoa` is not used.

[2021-06-15 15:56] aconchillo commented on #114
@daviderestivo fantastic! thank you.

[2021-06-24 15:24] Arsca commented on #113
Hi,

Got this resolved by removing/reinstalling the homebrew and checking that the /opt/hombrew bin-folders are in the $PATH

[2021-06-24 15:24] #113 closed

[2021-06-27 17:21] mariusk opened #115 "emacs-head@28 --with-cocoa --with-native-comp fails on startup"
I recently tried to upgrade emacs and it now fails on startup with the following error message:

`~ /usr/local/opt/emacs-head@28/bin/emacs
emacs: can't find function "F6d656e752d6261722d7570646174652d62756666657273_menu_bar_update_buffers_0" in compilation unit /usr/local/Cellar/emacs-head@28/28.0.50_1/libexec/emacs/28.0.50/x86_64-apple-darwin20.6.0/../../../../bin/../lib/emacs/28.0.50/native-lisp

[2021-07-03 13:17] daviderestivo commented on #115
@mariusk have you tried to uninstall it and install it once again?

[2021-07-03 13:31] daviderestivo commented on #115
Lemme me have a look ...

[2021-07-03 14:06] daviderestivo commented on #114
I though this was an easy fix but it might require some time. Sorry for the delay.

[2021-07-04 09:14] daviderestivo commented on #115
Fixed in here: https://github.com/daviderestivo/homebrew-emacs-head/pull/116.
Please check and lemme know if I can close this issue.

[2021-07-04 10:05] mariusk commented on #115
Checked now, still the same error after building and running at my end unfortunately.

[2021-07-04 11:01] mariusk commented on #115
Xcode 13 beta 2 from June 24th require Monterey, so could not be installed. So I installed 12.5.1 from June 20th. Then rebuilt and tested. Same error still, no difference from before.

[2021-07-04 14:04] daviderestivo commented on #115
Can you please provide me with the output of:

[code]

[2021-07-04 15:53] mariusk commented on #115
Here's the result:
[code]

[2021-07-05 05:42] daviderestivo commented on #115
Can you please try to uninstall and re-install from the scratch?

[2021-07-05 07:54] mariusk commented on #115
I've tried installing from scratch as well (after `brew uninstall`), makes no difference. The exact options I pass are:
[code]

[2021-07-05 08:10] mariusk commented on #115
I also tried on another computer at work (iMac 2019), everything seems to work fine there. Will try again on the machine where it does not work later and report back. Weird stuff.

[2021-07-05 14:26] daviderestivo commented on #115
Can you please install it once again with --verbose and pass me the logs:

`brew install --verbose emacs-head@28 --with-cocoa --with-native-comp`

Thanks

[2021-07-05 15:42] mariusk commented on #115
I tried another clean install on the computer where it failed earlier, and now it works here as well. My guess is that something changed upstream that may have fixed it? So "problem solved" I guess, except I have no idea what solved it. Thanks anyway.

[2021-07-05 15:42] #115 closed

[2021-07-05 15:56] mariusk commented on #115
Could be this fix, not sure: https://debbugs.gnu.org/cgi/bugreport.cgi?bug=49271

[2021-07-05 18:15] daviderestivo commented on #115
Yes. Good catch. I think this was exactly the issue.

[2021-08-22 20:22] daviderestivo commented on #114
@aconchillo I think this issue is fixed with this [commit](https://github.com/daviderestivo/homebrew-emacs-head/tree/18b4ca95451835886b6d8bf32f05e28d23b16460), already merged into master. Can you please try once again and lemme know if it works for you as well.

[2021-08-23 06:48] daviderestivo commented on #114
Now this should be fixed in emacs upstream branch as well. Please see https://github.com/emacs-mirror/emacs/commit/6c007668b38f06824004da466e97a96533f6344b

[2021-08-30 17:48] aconchillo commented on #114
Works fine, thanks!

[2021-08-30 17:48] #114 closed

[2021-09-05 14:54] jmckitrick opened #119 "Easy way to swap icons"
I like to rotate my emacs app icon. Right now, I have to re-install the formula from scratch. Is there an easier way to re-install and just change the icon?

[2021-09-11 12:05] jmckitrick opened #120 "Build issue"
[code]

[2021-09-13 09:57] daviderestivo commented on #120
This is probably an emacs upstream bug. Try tomorrow :)

[2021-09-13 11:18] daviderestivo commented on #119
Try to replace the `Emacs.icns` in`/usr/local/Cellar/emacs-head@28/28.0.50_1/Emacs.app/Contents/Resources`.

[2021-09-14 17:55] jmckitrick commented on #120
You were right, it was upstream. It worked yesterday. And it's broken again today, LOL.
Is there an easy way to tell whether it's upstream related or not?

[2021-09-14 19:12] jmckitrick commented on #120
Ok, here's a new one, different from before:

Your branch is up to date with 'origin/master'.
HEAD is now at 55dda2571a Unbreak make bootstrap (don't use cl-defun's &aux parameters)
Error: undefined method `install_formula' for Homebrew::Upgrade:Module
Please report this issue:
  https://docs.brew.sh/Troubleshooting
/usr/local/Homebrew/Library/Homebrew/install.rb:320:in `install_formula'
/usr/loca

[2021-09-17 14:26] jmckitrick commented on #119
Ok, that worked. Though it seemed to take several hours (overnight) to see the change.

[2021-09-17 14:26] #119 closed

[2021-09-17 14:26] jmckitrick commented on #120
All build issues are resolved now, but is there a simple way to tell if it's formula-based or upstream?

[2021-09-18 03:16] daviderestivo commented on #120
I build everyday with GitHub CI Emacs 28 from Emacs master branch. You can try to have a look into the outcome. Alternatively you can setup your own CI. I close this bug.

[2021-09-18 03:19] #120 closed

[2021-10-04 16:27] anquegi opened #123 "Cannot install with --with-modern-icon-doom3"
When I try to install the latest emacs 28 I get this error:

Installation begins correcty:

[code]

So I cannot use this icons

[2021-10-05 12:06] jmckitrick opened #124 "Misnamed icon options"
The icon options like `with-modern-icon-emacs-icon4` should be named `with-modern-emacs-icon4` and this seems to apply to 1-9.

[2021-10-11 20:21] daviderestivo commented on #124
Lemme have a look. I will come back to you ASAP.

[2021-10-13 01:49] cxb811201 opened #126 "After installing the latest master branch, it crashes when run"
crash message:

[code]

[2021-10-15 15:57] jmckitrick opened #129 "Native comp on Emacs 29 does not seem to work"
I realize this could be user error, but in the interest of helping other users, I'd like to figure out what is going wrong, and contribute to improvements in the formula or the docs.

I build this formula once a week, and decided to try native comp for the first time. Everything seems fine until it loads, then the frame fills with error messages from libgccjit failures. I have a feeling it's a mis

[2021-10-16 10:10] daviderestivo commented on #126
Is this still an issue or I can go ahead and close this ticket?

[2021-10-17 12:46] jmckitrick commented on #129
Yep, I just tried the whole process again, with the same result. Very
frustrating.

Could it be a classpath or lib path issue?

On Sun, Oct 17, 2021 at 3:48 AM Davide Restivo ***@***.***>
wrote:

[2021-10-17 12:55] cxb811201 commented on #126
@daviderestivo Still the same result

[2021-10-17 14:27] daviderestivo commented on #129
Do you have something in early-init.el? or did you set LIBRARY_PATH manually?

[2021-10-17 14:34] jmckitrick commented on #129
No, nothing special. Emacs can find ripgrep, java, clojure, scala, etc.

On Sun, Oct 17, 2021 at 10:28 AM Davide Restivo ***@***.***>
wrote:

[2021-10-17 14:51] daviderestivo commented on #129
Please share there output of `env` and the content of `early-init.el` :)

[2021-10-17 18:50] jmckitrick commented on #129
<img width="1211" alt="Screen Shot 2021-10-17 at 2 49 37 PM" src="https://user-images.githubusercontent.com/518057/137640854-4d7ead5b-490f-46a7-8977-93ebb97cf09a.png">

Nothing in `early-init.el`

[2021-10-17 18:52] jmckitrick commented on #129
Also, `exec-path`:

exec-path is a variable defined in ‘C source code’.

Its value is
("/usr/bin" "/bin" "/usr/sbin" "/sbin" "/usr/local/Cellar/emacs-head@29/29.0.50_1/libexec/emacs/29.0.50/x86_64-apple-darwin20.6.0")

[2021-10-29 21:22] jmckitrick commented on #129
A user suggested I manually set CFLAGS or remove `-march=native`.

I've worked with Linux projects and autoconf a bit in the distant past, but I have not worked with brew formulae. How might I do this?

[2021-10-30 14:20] jmckitrick commented on #129
Problem solved! I needed to run `brew edit` and remove the line with `-march=native` and everything worked fine after that.

[2021-10-30 14:20] #129 closed

[2021-11-01 10:22] daviderestivo commented on #126
@cxb811201 any update here? Did you try my previous suggestion?

[2021-11-08 06:33] mtwomey opened #137 "@28 / @29 won't compile on M1 Macs without removing -march=native from the formula"
As described in the title. I was able to work around this by manually editing the formula as described in #129.

[2021-11-11 09:50] malcolmpurvis commented on #137
I can reproduce this in a brand new homebrew installation on Big Sur.  It appears that the native ARM compiler does not support the -march=native argument.

[2021-11-12 09:58] daviderestivo commented on #137
I think that the CFLAGS can be removed completely. Lemme check the outcome of the CI :)

[2021-11-12 15:08] daviderestivo commented on #137
Fixed in https://github.com/daviderestivo/homebrew-emacs-head/pull/139. Please lemme know if it works for you.

[2021-11-13 15:25] daviderestivo commented on #129
Fixed in https://github.com/daviderestivo/homebrew-emacs-head/pull/139. Please lemme know if it works for you.

[2021-11-14 12:57] jmckitrick commented on #137
I think we're good to go on this one.

[2021-11-14 16:02] daviderestivo commented on #137
... then I'm gonna close this issue.

[2021-11-14 16:02] #137 closed

[2021-11-28 11:54] cxb811201 commented on #126
@daviderestivo In the latest versions of emacs28 and emacs29 the problem has not recurred, upstream should have been fixed, the exact cause I can not be sure.

[2021-11-28 14:39] daviderestivo commented on #126
@cxb811201 Ok. Then I close this issue. We can re-open if the problem reappears.

[2021-11-28 14:39] #126 closed

[2021-12-18 17:02] algebravic opened #141 "emacs 27.2 dies"
Every once in a while (it seems to happen when I moving files using tramp), emacs 27.2 will die with the error on the terminal:

`objc[66075]: Invalid or prematurely-freed autorelease pool 0x7f916c80e170.`

Suggestions as to debugging this?

[2021-12-19 08:35] daviderestivo commented on #141
@algebravic I would suggest you open a bug report on emacs https://lists.gnu.org/mailman/listinfo/bug-gnu-emacs. There is not too much I can do here.

[2022-01-11 08:23] daviderestivo commented on #141
@algebravic did you get a chance to open a bug report to emacs? I would be curious to know if a patch is available?

[2022-01-11 12:14] algebravic commented on #141
Hi David, I never opened a bug report because I couldn’t come up with a
test case that would provoke the bug.  My suspicion is that it has to do
with tramp.  The crash has happened a few times since I reported it to you,
always when, or soon after I transfer a bunch of files from a remote Linux
system using tramp and scp.  But it doesn’t always happen.

Victor

On Tue, Jan 11, 2022 at 03:23 Davide

[2022-02-21 16:46] jmckitrick opened #142 "Easy-kill no longer working correctly."
After `M-w s` to select an sexp, hitting 's' again should select the next, and so on. This functionality is no longer working. Easy-kill upstream has not changed in quite some time.

This might be an upstream bug, but I'm not sure how to confirm that right now. I switched to @28 and everything is fine.

[2022-02-27 07:23] daviderestivo commented on #142
@jmckitrick: by default `M-w` runs `kill-ring-save`. Which major/minor modes do you have enabled?

[2022-02-27 11:08] jmckitrick commented on #142
I'm running `easy-kill` in this case. I'm in Clojure/CIDER or emacs lisp mode, and minor modes include:
Auto-Composition Auto-Compression Auto-Encryption
Auto-Revert Column-Number Delete-Selection Desktop-Save
Electric-Indent Emmet Eyebrowse File-Name-Shadow Font-Lock
Global-Eldoc Global-Font-Lock Global-Git-Commit Global-Hl-Line Ivy
Line-Number Magit-Auto-Revert Menu-Bar Minions Mouse-Wheel
Overr

[2022-02-27 11:09] jmckitrick commented on #142
https://github.com/leoliu/easy-kill

[2022-03-06 13:52] jmckitrick commented on #142
It *seems* that this has been fixed. I'm doing more testing now.
Question: is there a way to use git bisect in this repo to narrow down the error and the fix?

[2022-04-06 03:30] seagle0128 opened #145 "Emacs 28.1 has been released"
Emacs 28.1 has been released. See https://lists.gnu.org/archive/html/emacs-devel/2022-04/msg00093.html. The receipt should be updated, I think. Thanks!

[2022-04-06 07:18] daviderestivo commented on #145
@seagle0128: Just merged this PR https://github.com/daviderestivo/homebrew-emacs-head/pull/144 :)

[2022-04-06 12:19] #145 closed

[2022-04-06 12:53] seagle0128 commented on #145
Thank you for the quick response, @daviderestivo !

[2022-04-07 11:46] daviderestivo commented on #142
@jmckitrick sorry but I missed your question above. I do not think you can easily bisect using this formula :( You should someway do it manually ...

[2022-04-09 17:05] #142 closed

[2022-04-28 16:01] jmckitrick opened #148 "Today's build of @29 fails"
Building with

`brew install emacs-head@29 --with-cocoa --with-modern-icon-dragon --with-no-frame-refocus`

results in

`Last 15 lines from /Users/jmckitrick/Library/Logs/Homebrew/emacs-head@29/03.make:
  ELC      iimage.elc
  ELC      image-dired.elc
  ELC      image-file.elc
  ELC      image-mode.elc
Eager macro-expansion failure: (invalid-read-syntax ". in wrong context" 906 26)
  ELC      imen

[2022-04-29 12:19] jmckitrick commented on #148
Working today.

[2022-04-29 12:19] #148 closed

[2022-04-30 05:59] daviderestivo commented on #141
@algebravic if you agree I would close this issue since I don't think there is to much I can do here. Does the problem appear as well with Emacs 28?

[2022-05-07 09:34] #141 closed

[2022-06-28 00:13] jmckitrick opened #149 "Emacs 29 with native comp fails on startup"
I build head 29 once a week. Last Friday, the build succeeded, but I got this error on startup, and every build since then:

~ ❯❯❯ emacs --debug-init
Error using execdir /opt/homebrew/Cellar/emacs-head@29/29.0.50_1/Emacs.app/Contents/MacOS/:
emacs: dlopen(/opt/homebrew/Cellar/emacs-head@29/29.0.50_1/Emacs.app/Contents/MacOS/../native-lisp/29.0.50-d356a56a/preloaded/window-0d1b8b93-0c17e2d3.eln, 0x

[2022-06-29 16:07] daviderestivo commented on #149
@jmckitrick Thanks for reporting it. I guess something changed in upstream but I didn't have any time to look into it.

[2022-06-29 18:07] jmckitrick commented on #149
I see it could be related to this from a year ago:
https://github.com/d12frosted/homebrew-emacs-plus/issues/392

[2022-07-07 14:20] jmckitrick commented on #149
This might be a possible solution:

https://github.com/d12frosted/homebrew-emacs-plus/issues/476#issuecomment-1177350063

[2022-07-07 15:30] daviderestivo commented on #149
@jmckitrick I'm currently on holiday. Please make me a PR with the fix and I'm gonna merge it :)

[2022-07-09 16:09] daviderestivo commented on #149
Thanks for the PR. I'm gonna run the CI and merge it if successful :)

[2022-07-09 16:14] #149 closed

[2022-07-09 16:17] daviderestivo commented on #149
Merged into master.

[2022-07-09 17:02] daviderestivo commented on #149
@jmckitrick i have added you to the contributor list :). Thanks for your help here. Appreciated :)

[2022-08-12 13:00] jmckitrick opened #152 "Question about upstream build issue"
It looks like emacs 29 on macOS is broken and has been for around a week or so. I don't see any discussion on emacs bugs or dev addressing it. I'm willing to do some test builds and poke around and help in the interesting of getting it working. Where should I start by offering my help? Is there a particular list I should post to?

[2022-08-12 14:44] daviderestivo commented on #152
@jmckitrick I'm currently using emacs 29 on my Mac without any issue. What problem did you encounter?

Anyway if you find a bug in Emacs then you should create a bug report and send it to https://lists.gnu.org/mailman/listinfo/bug-gnu-emacs.

[2022-08-13 10:55] jmckitrick commented on #152
@daviderestivo I'm sorry about this... it looks like the issue was resolved. I promise, though, I was getting a broken build related to some ELC files. ;-)

Normally I would just watch the upstream builds and wait for a passing build, but based on this, I thought it was an ongoing issue:

https://hydra.nixos.org/job/gnu/emacs-trunk/build.x86_64-darwin/all

[2022-08-13 10:55] #152 closed

[2022-08-20 03:12] malcolmpurvis opened #153 "0011-fix-MAC_LIBS-inference-after-gcc-12-release.patch fails on latest emacs-head@29"
A fresh rebuild of emacs-head@29 results in the following failure when applying 0011-fix-MAC_LIBS-inference-after-gcc-12-release.patch.  I successfully built emacs-head@29 12 hours beforehand.

[code]

[2022-08-20 06:12] daviderestivo commented on #153
@malcolmpurvis Thanks for reporting this issue. I guess https://github.com/daviderestivo/homebrew-emacs-head/pull/154 fixes this. Once CI is completed I will merge the PR in master.

[2022-08-20 11:59] daviderestivo commented on #153
Fix is in master.

[2022-08-20 11:59] #153 closed

[2022-08-20 14:41] malcolmpurvis commented on #153
Thanks.  I can successfully build emacs now.

[2022-08-24 09:57] avatar-lavventura opened #155 "Is it ok to run `emacs --fg-daemon` and `emacs --bg-daemon` at the same time?"
I am trying to run `GNU Emacs 29.0.50` in `macOS`. The way install it as follows:

[code]

The main problem I am having is emacs daemon consumes full-horse cpu power at the background.

---------------
I have observe that `Emacs --fg-daemon` and `Emacs --bg-daemon` processes are running at the same time.

[code]

The way I started emacs: `(&>/dev/null emacsclient -qut &)`

I was wondering is it fi

[2022-08-25 06:18] daviderestivo commented on #155
@avatar-lavventura from my understanding it seems you have two emacs daemon process running. Did you check if you have for example `brew` starting it in background? You can check using `brew services`.

[2022-08-25 09:07] avatar-lavventura commented on #155
I was not able to figure out why this was happening. When I install emacs from its source-code the problem I was having is fixed.

[2022-08-25 09:07] #155 closed

[2022-09-22 21:53] dylanjm opened #158 "Brew Services No Longer Working"
Recently updated emacs and the homebrew formula. In the past I've set homebrew to launch the emacs-head@28 service so I can access emacsclient easily. I am now receiving this error when running `brew services start emacs-head@28` and I get this error in return:

[code]

[2022-09-23 08:41] daviderestivo commented on #158
@dylanjm I will have a look and let you know.

[2022-09-23 08:57] daviderestivo commented on #158
@dylanjm can you try to uninstall emacs-head@28 and reinstall it from scratch. Done that, can you please gimme the output of `brew services`. Thanks

[2022-09-23 20:37] dylanjm commented on #158
I reinstalled emacs-head@28 with the following command:

[code]

Here is the output of `brew services`:

[code]

[2022-09-24 08:16] daviderestivo commented on #158
@dylanjm I assume that after reinstallation you have the same issue.

I tried on my two boxes (one running Catalina and another one running Monterey). On both of them it seems to work as expected:

[code]

[2022-09-25 01:07] dylanjm commented on #158
Ahh okay, I uninstalled it one more time and tried again and now it's working. I'm not sure what exactly happened. I had some linking issues before. I also had to update xcode command line tools recently, so not sure if that put my machine in a weird state. I'll go ahead and close this issue. I appreciate your time! Thank you!

[2022-09-25 01:07] #158 closed

[2022-09-25 06:04] daviderestivo commented on #158
@dylanjm thanks to you :) ... have fun!